body {
    margin: 0;
    padding: 0;
    font: 15px/1.5 "Roboto slab", "Arial", "Helvetica", "sans-serif";
    background-color: #d3edec;
}

/*Global stuff*/
.container{
    margin: auto;
    width: 90%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background: #b9e2e0;
    color: #888170;
}

header h1{
    float: left;   
}

#branding{
    margin: auto;
    overflow: visible;
    font-size: 15px;
    color: #888170;
}

header .sexy{
    font: 60px Angelina, Brush script mt, Georgia, Arial, Helvetica, sans-serif;
}

header form{
    float: right;
    margin-top: 23px;
    width: 70%;  
}

header input{
    padding: 5px;
    height: 35px;
    width: 70%;
    border: none;
    font-size: 17px;
    background: rgba(211,237,236,0.6);
}

header form button{
    height: 45px;
    background: rgba(211,237,236,0.6);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 10%;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    color: #888170;
}

.profile{
    float: right;
    font-family: 'Courier New', Courier, monospace
}

/*section body*/
#lists{
    margin-top: 20px;
}

/*aside*/
#sidebar a{
    color: #3b3a35;
    text-decoration: none;
    font-size: 14px;
}

#sidebar ul{
    list-style: none;
}

#listTypes{
    color: #3b3a35;
    font-size: 14px;
}
#sidebar li{
    margin: 0 0 20px 0;
}

#sidebar{
    float: left;
}

/*lists*/
#listsBody{
    position: relative;
    left: 10%;
    float: left;
    margin: auto;
    width:60%;
}

/*lists input*/
form #listsInput{
    border: none;
    border-radius: 0;
    float: left;
    height: 23px;
    padding: 10px;
    font-size: 17px;
    color: #555;
    width: 70%;
}

/*addBtn*/
form .addBtn{
    background: #b9e2e0;
    color: #555;
    float: left;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 0;
    transition: 0.3s;
    width: 10%
}
  
.addBtn:hover {
    background-color: #bbb;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#myLists{
    margin-top: 50px;
    
}

#myLists li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #d5f5f5;
    font-size: 18px;
    transition: 0.2s;
}

#myLists li:nth-child(odd) {
    background: #dbfdfd;
}

#myLists li:hover{
    background: #ddd;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover{
    background-color: #bbb;
    color: white;
}