html{
    background: url(../static/background.jpeg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    background: rgba(204, 243, 242, 0.5);
    max-width: 360;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center
}

.form input{
    font-family: "Roboto", "sans-serif";
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
}

.form ::placeholder{
    color: #858585;
}

.form button{
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

.form button:hover{
    background: #43a047;
}

.form .message{
    margin: 15px, 0, 0;
    color: rgb(129, 114, 108);
    font-size: 12px;
}

.form .message a{
    text-decoration: none;
    color: #43a047
}

.form .register-form{
    display: none;
}

