<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All your lists in one place">
        <meta name="keywords" content="all in one lists,lists">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Todo Lists | Home</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/styleHomepage.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="sexy">my</span>ToDo<span class="sexy">lists</span></h1>
                </div>
                <form>
                    <input type="text" placeholder="Search..">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <h3 class = "profile"> Ronald</h3>
                </form>
                
            </div>
        </header>
        </header>

        <section id="lists">    
            <div class="container">
                <aside id="sidebar">
                    <div class="box">
                        <ul>
                            <li><a href="#">Remainders</a> </li>
                            <li class="collapsible"><a href="#">Share List</a><span class="close">&times;</span></li>
                            <div class="content">
                                <p>James</p>
                                <p>Pete</p>
                                <p>Travor</p>
                            </div>
                        </ul>
                    </div>
                    <h3 id="listTypes">Types</h3>
                    <div class="box">
                        <ul>
                            <li><a href="#">Shopping</a> </li>
                            <li><a href="#">Back to School</a> </li>
                            <li><a href="#">Market day</a> </li>
                            <li><a href="#">Budget</a> </li>
                            <li><a href="#">New born</a> </li>
                        </ul>
                    </div>
                </aside>
                <div id="listsBody">
                    <form class="listsHeader">
                        <input type="text" id="listsInput" placeholder="Title...">
                        <span onclick="newElement()" class="addBtn">Add</span>  
                    </form>
                    <ul id="myLists">
                        <li class="collapsible">Shopping<span class="close">&times;</span></li>
                        <div class="content">
                            <p>- Milk</p>
                            <p>- Bread</p>
                            <p>- Sugar</p>
                        </div>
                        <li class="collapsible">Dance Lessons<span class="close">&times;</span></li>
                        <div class="content">
                            <p>- Directions</p>
                        </div>
                        <li class="collapsible">Back to School<span class="close">&times;</span></li>
                        <div class="content">
                            <p>- Uniform</p>
                            <p>- Books</p>
                        </div>
                        <li class="collapsible">Budget<span class="close">&times;</span></li>
                        <div class="content">
                            <p>- Gas</p>
                            <p>- Fees</p>
                            <p>- Shopping</p>
                            <p>- Outing</p>
                        </div>
                    </ul>
                </div>
            </div>
        </section>

        <script>
            var closebtns = document.getElementsByClassName("close");
            var i;
            
            for (i = 0; i < closebtns.length; i++) {
              closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
              });
            }

            function newElement() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("listsInput").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
                alert("Please Add a List name!");
            } else {
                document.getElementById("myLists").appendChild(li);
            }
            document.getElementById("listsInput").value = "";

            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            li.appendChild(span);

            for (i = 0; i < closebtns.length; i++) {
              closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
              });
            }
            }

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }
        </script>
    </body>
    
</html>